{% extends 'base.html '%}

{% block content%}
<h2>NUEVO REGISTRO</h2>
<form action="/save" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre:</label>
        <input type="text" class="form-control" name="nombre"  
        placeholder="Escribe un nombre" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Telefono:</label>
        <input type="text" class="form-control" name="telefono" 
        placeholder="Telefono de la persona" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Fecha nac</label>
        <input type="text" class="form-control" name="fecha_nac" 
        placeholder="Fecha de nacimiento ">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock%}