{% extends 'base.html' %}

{% block content %}

<h1>Listado de personas</h1>
<a href="/create" class=" btn btn-success mb-3" >Nuevo registro</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Fecha Nac</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in personas%}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.fecha_nac}}</td>

            <td>
                <a href="/edit/{{item.id}}" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a href="/delete/{{item.id}}" class="btn btn-danger" 
                onclick="return(confirm('Esta seguro ??? '))">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}

